.jumbotron {
    background: #D24F33;
    text-align: center;
    margin-top: 50px;
}


footer {
    padding: 10px 10px 0 10px;
    background-color: #D24F33;
    margin-bottom: 0px;
    margin-top: 10px;
    font: Corbel;
    color: azure;
    
}

.card-parrafo {
    flex: 1 150px;
    padding: 2px 2px 2px 5px
}
.card-hotel{
    flex:1 150px;
    padding:2px 2px 2px 5px;
    margin-top:10px;
    
}
.imagen{
    
    width: 640px;
    height: 360px;
}
.carousel-inner{
    padding-top:50px;
}
.colapse{
    padding-top:10px;
}
.btn-reserva {
    width: 100%;
    border-radius: 0px;
    background: #6495ED;
}
.footer-adress-icon{
    padding-right:10px;
    
}
.card-img-top{
    width:100%;
    height:auto;
}
.banner{
    margin-top:-50px;
    position:relative;
    height:300px;
    width:100%
}
.tab-content {
    padding-top: 10px;
}
.modal-title{
    
    text-align:center;
}
.close{
    padding-top:-50px;
}