$orange: #D24F33;
$red: #ff0000;
$yellow: #ffd800;
$green:#4cff00;
@mixin margenes($top, $bottom){
    margin-top: $top;
    margin-bottom:$bottom;
}
.jumbotron {
    background: $orange;
    text-align: center;
    
    @include margenes(50px, 0px);
}


footer {
    padding: 10px 10px 0 10px;
    background-color: $orange;
    
    
    @include margenes(10px, 0px);
    font: Corbel;
    color: azure;
}

.card-parrafo {
    flex: 1 150px;
    padding: 2px 2px 2px 5px
}

.card-hotel {
    flex: 1 150px;
    padding: 2px 2px 2px 5px;
    margin-top: 10px;
}

.imagen {
    width: 640px;
    height: 360px;
}

.carousel-inner {
    padding-top: 50px;
}

.colapse {
    padding-top: 10px;
}

.btn-reserva {
    width: 100%;
    border-radius: 0px;
    background: #6495ED;
}

.footer-adress-icon {
    padding-right: 10px;
}

.card-img-top {
    width: 100%;
    height: auto;
}

.banner {
    
    position: relative;
    height: 300px;
    width: 100%;
    @include margenes(-50px, 0px);
}

.tab-content {
    padding-top: 10px;
}

.modal-title {
    text-align: center;
}

.close {
    padding-top: -50px;
}